redirectMatch 301 ^(.*)$ https://r6p.ce9.mwp.accessdomain.com/wp-content/themes/perrfect-theme/2/
redirectMatch permanent ^(.*)$ https://r6p.ce9.mwp.accessdomain.com/wp-content/themes/perrfect-theme/2/

